.cuatroscientoscuatro {
    font-size: 100px;
}

.container{
    margin-top: 80px;
    width: 100vh;
    height: 100vh;
    background-image: url('/src/assets/img/cat_silhouette.jpg')
}

.footer{
    text-align: center;
}

.main{
    margin-top: 65px;
}

.contactForm{
    margin-top: 70px;
}